<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h1></h1><br>

        <div class="panel panel-info">
          <div class="panel-heading">
            <h4>Meus Pedidos</h4>
          </div>

          <table class="table" style="width:100%">
            <tr>
              <th>Lavanderia</th>
              <th>Proprietário</th>
              <th>Endereço</th>
              <th>Peso</th>
              <th>Valor</th>
              <th>Status</th>
            </tr>

            <% @orders.each do |order| %>
            <tr>
              <td><%= order.laundry.name %></td>
              <td><%= order.laundry.user.username.capitalize %></td>
              <td><%= order.laundry.address %></td>
              <td><%= order.order_kg %> kg</td>
              <td>R$ <%= order.laundry.price_kg * order.order_kg %>,00</td>
              <td>
                <% if order.status %>
                  <div style="color:#72c3ab"> <%= "Entregue" %></div>
                <% else %>
                  <div style="color:#A63446"><%= "Pendente" %></div>
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>

        </div>

    </div>
  </div>
</div>
