<div class="container">
  <br>
  <p><strong>Refinar busca:</strong></p>


  <div class="form-container">
      <%= form_tag laundries_path, method: :get, class: "form-inline" do %>
         <p>Endereço: <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "digite aqui o seu endereço..."
        %>
      <%= submit_tag 'Buscar', class: "btn btn-default"%></p>
      <% end %>
  </div>

  <h3 class="text-center">Lavanderias próximas a você:</h3>
<br>
  <div class="main-container">
    <div class="row">

      <div class="col-xs-12">

      <div id="card-map">
        <% @laundries.each do |laundry| %>
          <div class="laundry-card-list">
            <div class="laundry-img">
              <%= render partial: 'shared/cardslist', locals: { laundry: laundry } %>
            </div>
            <div class="card-list">
              <h4> <strong> <%= laundry.name %> </strong> </h4>
              <h5>Preço do kg: R$<%= laundry.price_kg %>,00</h5>
              <p class="laundry-rating">Nota dos clientes: <%= laundry.rating %></p>
              <%= link_to "Ver detalhes", laundry_path(laundry), class: "btn btn-md btn-default" %>
            </div>
          </div>
        <% end %>
      </div>

    </div>

    </div>
        <div
          id="map" data-markers="<%= @markers.to_json %>">
        </div>
  </div>

</div>

