<div class="container-laundry">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
       <img src="/<%= @laundry.cnpj  %>" alt="" class="main_laundry_picture">
    </div>
    <div class="col-xs-12 col-sm-6">
      <h1><%= @laundry.name %></h1>
      <h2><%= @laundry.address %></h2>
      <p> Preco per kg: <%= @laundry.price_kg%></p>
      <p> Capacity: <%= @laundry.capacity%></p>
        <%= render 'orders/form' %>
   <!-- <%=link_to "Lavar", "#", class: "btn btn-success" %> -->
    </div>
  </div>

  <%= link_to "Voltar", laundries_path, class: "btn btn-xs btn-default" %>
</div>

