<<<<<<< HEAD
<div class="container">
  <div class="row">
    <div class="col-xs-12">
        <h1></h1><br>

        <div class="panel panel-info">
          <div class="panel-heading">
            <h4>Minhas Entregas</h4>
          </div>

          <table class="table" style="width:100%">
            <tr>
              <th>Lavanderia</th>
              <th>Usuário</th>
              <th>Endereço</th>
              <th>Peso</th>
              <th>Valor</th>
              <th>Status</th>
            </tr>

            <% @orders.each do |order| %>
            <tr>
              <td><%= order.user.username %></td>
              <td><%= order.laundry.name %></td>
              <td><%= order.user.address %></td>
              <td><%= order.order_kg %> kg</td>
              <td>R$ <%= order.laundry.price_kg * order.order_kg %>,00</td>
              <td>
                <% if order.status %>
                  <div style="color:#127528"> <%= "Entregue" %>
                    <td><button class="btn btn-xs btn-success disabled"><i class="fa fa-tshirt"></i></button></td>
                  </div>
                <% else %>
                  <div style="color:#910B1F"><%= "Pendente" %>
                    <td>

                      <%= link_to "Update", laundry_order_path(order), class: "btn btn-xs btn-danger"%>
                      <!-- <button class="btn btn-xs btn-danger">
                        <i class="fa fa-tshirt"></i>
                      </button> -->
                    </td>
                   </div>
                <% end %>

              </td>
            </tr>
            <% end %>
          </table>

        </div>

    </div>
  </div>
</div>
=======
>>>>>>> ee6469bee88d6f296b0791857301015b83da1030
